/*
!.config/nvim/init.vim
!.config/alacritty
!.config/conky
!.config/fish/
!.config/i3blocks
!.config/i3status
!.config/pip
!.config/ranger
!.config/rofi
!.config/betterlockscreenrc
!.config/compton.conf
!.config/mimeapps.list
!.config/request
!.i3
!.Xmodmap
!.xprofile
!.tmux.conf
!.tmux.conf.local
